

.tictactoe-tile{
  display: flex;
  border: 1px solid black;
  margin: 5px;
  width: 30%;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  background-color: white ;
}

.tictactoe-img{
  width: 40%;
}